<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Costanera Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="https://static.hosteltur.com/app/public/uploads/img/articles/2015/08/01/L_5c1a43ce64bbb_torre-santiago-costanera_3.jpg"/>
      <ion-card-title>
        COSTANERA CENTER
      </ion-card-title>
      <p>Costanera Center es el centro comercial más grande de Chile, ubicado en la comuna de Providencia, Región Metropolitana de Santiago. Fue nombrado así porque está en la Avenida Costanera Sur, cerca del río Mapocho.</p>
      <ion-card-title>Hoteles Recomendados</ion-card-title>
      <p> Icon hotel santiago, hotel mercure santiago centro, hotel santa cruz</p>
      
    </ion-card>
    <h1>Comentarios</h1>

    <h2>No hay comentarios aun...</h2>
    
  
   
  </ion-list>
  
</ion-content>
