<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://this-person-does-not-exist.com/img/avatar-genfb73a6073583dc49111c0cb5ea23eda4.jpg" />
      </ion-avatar>
      <ion-label> Alisson Villagra </ion-label>
      <ion-button routerLink="/usuario1">Ver detalles</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://this-person-does-not-exist.com/img/avatar-gen0259e580b296903e2acc7d3a3d82aad2.jpg" />
      </ion-avatar>
      <ion-label> Jorge Perez </ion-label>
      <ion-button routerLink="/usuario2">Ver detalles</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://this-person-does-not-exist.com/img/avatar-gen115a2ec5ab80950947fc44a898caaf65.jpg" />
      </ion-avatar>
      <ion-label> Lee Zuk</ion-label>
      <ion-button routerLink="/usuario3">Ver detalles</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://this-person-does-not-exist.com/img/avatar-gen11202124e577d153419eb5b4f4a026cf.jpg" />
      </ion-avatar>
      <ion-label> Camila Carrasco </ion-label>
      <ion-button routerLink="/usuario4">Ver detalles</ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>



