<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alisson Villagra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://this-person-does-not-exist.com/img/avatar-genfb73a6073583dc49111c0cb5ea23eda4.jpg"/>
    <ion-card-title>
      Alisson Villagra
    </ion-card-title>
    <p>Edad: 35</p>
    <p>Rut: 10.602.839-7</p>
    <p>ID Pasaporte: o987u45b</p>
    <p>Lugares en los cuales viajo:
      Big Ben, Coliseo de Roma, El gran Cañon, Gran Muralla, Torre Eiffel, Torre de Pisa, Monte fuji, Gran piramide de Guiza

    </p>
  </ion-card>
</ion-content>


