<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Camila Carrasco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://this-person-does-not-exist.com/img/avatar-gen11202124e577d153419eb5b4f4a026cf.jpg"/>
    <ion-card-title>
      Camila Carrasco
    </ion-card-title>
    <p>Edad: 22</p>
    <p>Rut: 21.444.408-9</p>
    <p>ID Pasaporte: o922ujhb</p>
    <p>Lugares en los cuales viajo:
       Coliseo de Roma,Torre Eiffel, Monte fuji,

    </p>
  </ion-card>
</ion-content>
