<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Monte Fuji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Chuurei-tou_Fujiyoshida_17025277650_c59733d6ba_o.jpg/1200px-Chuurei-tou_Fujiyoshida_17025277650_c59733d6ba_o.jpg"/>
      <ion-card-title>
        MONTE FUJI
      </ion-card-title>
      <p>El monte Fuji 富士山, ​ también conocido como Fujiyama por un error de transliteración, ​ es el pico más alto de la isla de Honshu y de todo Japón, con 3776 metros de altitud.</p>
      <ion-card-title>Hoteles Recomendados</ion-card-title>
      <p> Manga art hotel, hotel east Tokyo, Tokyo grand hotel, One@tokyo</p>
      
    </ion-card>
    <h1>Comentarios</h1>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>  Daniela Maestre  </ion-label>
    </ion-item>
    <p>BELLISIMOOOOO!!!!!</p>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Luciano Chico </ion-label>
    </ion-item>
    <p>Cada dia mas otaku</p>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Michelle Fernandez </ion-label>
    </ion-item>
    <p> y goku?</p>
  
   
  </ion-list>
  
</ion-content>