<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Big Ben</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/63/f8/bb/big-ben.jpg?w=1200&h=-1&s=1&pcx=1033&pcy=310&pchk=v1_bf93e1170e1f1f8d4cea"/>
      <ion-card-title>
        BIG BEN
      </ion-card-title>
      <p>Big Ben es el nombre con el que se conoce a la gran campana del reloj situado en el lado noroeste del Palacio de Westminster, la sede del Parlamento del Reino Unido, en Londres.Popularmente, por extensión, se utiliza también este nombre para el reloj de la torre.</p>
      <ion-card-title>Hoteles Recomendados</ion-card-title>
      <p> Premier Inn London Tolworth hotel, Citysay Hotel, hub by Premier inn London</p>
      
    </ion-card>
    <h1>Comentarios</h1>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Alicia Martinez </ion-label>
    </ion-item>
    <p>Es un gran lugar para sacarse fotos.</p>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Gerard Patrick </ion-label>
    </ion-item>
    <p>Es muy tranquilo jeje.</p>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Ethan Winters </ion-label>
    </ion-item>
    <p> Lo recomiendo mucho, es muy cool todo :).</p>
  
   
  </ion-list>
  
</ion-content>
