<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lee Zuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://this-person-does-not-exist.com/img/avatar-gen115a2ec5ab80950947fc44a898caaf65.jpg"/>
    <ion-card-title>
      Lee Zuk
    </ion-card-title>
    <p>Edad: 31</p>
    <p>Rut: 	65.017.241-8</p>
    <p>ID Pasaporte: o97667u45b</p>
    <p>Lugares en los cuales viajo:
       Gran Muralla, Monte fuji,

    </p>
  </ion-card>
</ion-content>
