<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gran Piramide de Guiza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="https://historia.nationalgeographic.com.es/medio/2020/11/09/istock-516063860_26582ad8_1254x836.jpg"/>
      <ion-card-title>
        GRAN PIRAMIDE DE GUIZA
      </ion-card-title>
      <p>La Gran Pirámide de Guiza es, además de la mayor de las pirámides de Egipto, la más antigua de las siete maravillas del mundo antiguo y la única que todavía perdura. Fue ordenada construir por el faraón Keops de la cuarta dinastía del Antiguo Egipto.</p>
      <ion-card-title>Hoteles Recomendados</ion-card-title>
      <p>Best view pyramids, tut pyramids view hotel, Golden mask pyramids, makadi view</p>
      
    </ion-card>
    <h1>Comentarios</h1>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>  Nelson Bueno  </ion-label>
    </ion-item>
    <p>Hace calor pero vale la pena</p>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Adoracion Santana </ion-label>
    </ion-item>
    <p>Me dio insolacion</p>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Mary Pelaez </ion-label>
    </ion-item>
    <p> camellos y gatos pelados.</p>
  
   
  </ion-list>
  
</ion-content>