<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Jorge Perez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://this-person-does-not-exist.com/img/avatar-gen0259e580b296903e2acc7d3a3d82aad2.jpg"/>
    <ion-card-title>
      Jorge Perez
    </ion-card-title>
    <p>Edad: 40</p>
    <p>Rut: 10.602.839-7</p>
    <p>ID Pasaporte: o987u45b</p>
    <p>Lugares en los cuales viajo:
      Big Ben,El gran Cañon, Gran Muralla, Torre de Pisa, Monte fuji, Gran piramide de Guiza

    </p>
  </ion-card>
</ion-content>
